# Ignore VSCode settings
.vscode/

# Ignore build outputs
bin/
obj/

# Ignore build cache
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore temporary files
*.tmp
*.log
*.lock
*.DS_Store

# Ignore publish outputs
wwwroot/lib/

# Ignore Git folder
.git/

# Ignore Rider IDE files
.idea/

# Ignore Visual Studio Code workspace files
*.code-workspace

# Ignore NuGet packages
*.nupkg

# Ignore Resharper files
_ReSharper*/

# Ignore coverage reports
coverage/
*.coverage
*.coveragexml

# Ignore temporary deployment files
*.publishsettings
